<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{ site.description }}">
    <meta name="keywords" content="{{ site.keywords }}">
    <title>{{ page.title }}</title>

    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    {% include head-custom.html %}
  </head>
  <body>
    <div class="container-lg px-3 my-5 markdown-body">
      {% if page.title and page.title != 'Index' %}
      <div class="header border-top border-gray-light mt-5 pt-3 text-right text-gray">
        <a href="./">home</a>
      </div>
      {% endif %}

      {{ content }}

      {% if page.title and page.title != 'Index' %}
      <div class="footer border-top border-gray-light mt-5 pt-3 text-right text-gray">
        <a href="./">home</a> - No cookies collected
      </div>
      {% else %}
      <div class="footer border-top border-gray-light mt-5 pt-3 text-right text-gray">
        No cookies collected
      </div>
      {% endif %}
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/anchor-js/4.1.0/anchor.min.js" integrity="sha256-lZaRhKri35AyJSypXXs4o6OPFTbTmUoltBbDCbdzegg=" crossorigin="anonymous"></script>
    <script>anchors.add();</script>
  </body>
</html>